.container{
    /* border: 1px solid greenyellow; */
    /* border-radius: 15px; */
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 25vw;
    align-items: center;
    /* padding: 10px; */
}
.imageCard{
    /* height: 20vh; */
    width: 25vw;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
}
.imageCard:hover{
    opacity: 0.9;
    transform: scale(1.05);
    color: #F2BDBD;
}
.imageCard img{
    max-width: 100%;
    max-height: 100%;

    /* border-radius: 10px; */
}
.datosCard p{
    font-size: 1rem;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    color: #F2BDBD;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 768px) {
    .container{
        width: auto;
        height: auto;
        
    }
    .imageCard{
        width: 90%;
    }
    .datosCard p{
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: auto;
    }
}