.container{
    border: 1px solid blue;
    height: 84vh;
    width: 90vw;
    padding-left: 2rem;
    padding-right: 2rem;    
}
.CardsProyectos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}